.dw-question .filter-bar .order i {
	background: none;
}

[class*=dwqa-question] #main {
	background-color: #fff;
}

.dwqa-container {
	padding: 0;
}

.dw-question .filter li {
	font-size: 95%;
}

.dw-question .question-vote .btn {
	padding: 2px 10px;
}

#respond input[type="submit"],
.login-box input[type="submit"],
.single-dwqa-question #respond form .form-submit #submit {
	display: inline-block;
	padding: 2px 10px;
	margin-bottom: 0;
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	color: #333333;
	background-color: #ffffff;
	border-color: #ffffff #ffffff #d9d9d9;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	border: 1px solid #dddddd;
	border-bottom-color: #c4c4c4;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	background-image: none !important;
	text-shadow: none;
	font-size: 10.5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

#respond input[type="submit"]:hover,
.login-box input[type="submit"]:hover,
.single-dwqa-question #respond form .form-submit #submit:hover {
	color: #333333;
	text-decoration: none;
	background-color: #e6e6e6;
	background-position: 0 -15px;
	-webkit-transition: background-position 0.1s linear;
	-moz-transition: background-position 0.1s linear;
	-o-transition: background-position 0.1s linear;
	transition: background-position 0.1s linear;
}

.single-dwqa-question .dwqa-container .dwqa-sidebar a {
	color: #555;
}
.single-dwqa-question .dwqa-container .dwqa-sidebar a:hover {
	color: #f7682c;
}

.dw-question .pagination {
	display: block;
}

.dw-question #loginform input {
	height: 27px;
}